{{#if error }}
<div class="alert box alert-danger">
  <h4>Application Error</h4>
  <div>
  {{ error }}
  </div>
</div>
{{/if}}

<h2>Song Lists <span title="Add Song List"><button class="btn btn-primary" {{action 'newSonglist'}}><span class="glyphicon glyphicon-plus"></span></button></span></h2>

{{#if meta}}                                                                       
<ul class="pager">                                                                 
  <li class="previous">
    <button {{action 'previousPage' 1}} class="btn btn-link"><span class="glyphicon glyphicon-step-backward"></span></button>
  </li>
  {{#if meta.has_prev}}                                                          
    <li class="previous">
      <button {{action 'previousPage' meta.prev_num}} class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </li>
  {{else}}                                                                       
      <li class="previous hidden"><span class="glyphicon glyphicon-chevron-right"></span></li>
  {{/if}}                                                                        
    <li>Page {{meta.page}} of {{meta.total}}</li>                                  
  {{#if meta.has_next}}                                                          
    <li class="next">
      <button {{action 'nextPage' meta.next_num}} class="btn btn-link"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </li>
  {{else}}                                                                       
    <li class="next hidden"><span class="glyphicon glyphicon-chevron-right"></span></li>
  {{/if}}                                                                        
  <li class="next">
    <button {{action 'nextPage' meta.total}} class="btn btn-link"><span class="glyphicon glyphicon-step-forward"></span></button>
  </li>
</ul>                                                                              
{{/if}}

{{#if isDeleting}}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>{{title}}</h4>
        </div>
        <div class="panel-body">{{message}}</div>
        <div class="panel-footer">
            <button {{action 'confirmDelete'}} class="btn btn-success">OK</button>&nbsp;<button {{action 'cancelDelete'}} class="btn btn-danger">Cancel</button>
        </div>
    </div>
{{/if}}
<table class="table table-striped">
    <thead>
    <tr>
        <th></th><th>Event Date</th><th>List Name</th><th>Owner</th>
    </tr>
    </thead>
    <tbody>
    {{#if isEditing}}
    <tr class="grid-row">
        <td>
            <button class="btn btn-primary" {{action 'saveSonglist'}}>Save</button>&nbsp;
            <a {{action 'cancelSonglistEdit'}}>Cancel</a>
        </td>
        <td>{{view App.CalendarDatePicker value=newSonglist.event_date class="form-control" placeholder="event date" readonly="true" title="Click to enter the date"}}</td>
        <td>{{input value=newSonglist.name class="form-control" placeholder="name of song list"}}</td>
        <td></td>
    </tr>
    {{/if}}
    {{#each item in model}}
    <tr class="grid-row">
        <td><button {{action 'removeSonglist' item}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
        <td>{{#link-to 'songlist' item}}{{item.event_date}}{{/link-to}}</td>
        <td>{{#link-to 'songlist' item}}{{item.name}}{{/link-to}}</td>
        <td>{{#link-to 'songlist' item}}{{item.owner}}{{/link-to}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
